#proteger{
  color: red;
  font-weight: bold;
}
body{
  font-size: 25px;
  background: linear-gradient(to right, rgb(100,100,100),rgb(150,150,150), rgb(200,200,200), white);
}
nav{
  display: flex;
  border-bottom: 1px solid black;
  width: 100%;
  background: rgba(0,0,0,0.7);
  color: white;
  padding: 10px 0;
  width: 1000px;
  margin-top: -10px;
  margin-left: -10px;
}
#navleft{
  display: block;
  align-items: center;
  justify-content: center;
}
#navright{
  display: flex;
  align-items: center;
  justify-content: center;
}
aside{
  padding: auto;
  margin: auto;
}
#ajouter{
  font-size: 28px;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
  background: rgb(0,0,80);
  color: white;
}
p{
  transition: 1s;
  padding: 10px;
}
p:hover{
  background: black;
  color: white;
}
footer{
  text-align: center;
  background: #001442;
  color: white;
  text-shadow: 1px 1px 1px skyblue;
  width: 1000px;
  height: 100%;
  padding: 40% 0;
  margin: -10px;
  border-top: 10px solid green;
}

@media (min-width: 768px) {
  body{
    font-size: 22px;
  }
  p:hover{
    font-size: 40px;
  }
  
}
@media (max-width: 768px) {
  body{
    font-size: 28px;
  }
  
}